objs/*
objs

*.bin
*.list
*.d
*.elf
*.o
compile_commands.json
.idea/



deadbeef.c
deadbeef.h

addshader.c
addshader.h


mandelbrotshader.c
mandelbrotshader.h

indexshader.c
indexshader.h

!staff*.bin
!staff*.o
!staffaddshader.h

staff/
2-mandelbrot copy/
old_compiler/build/
compiler/build*
compiler/context.txt
*__pycache__/
.DS_Store
.vc4*
vc4*.txt