objs/*
objs

*.bin
*.list
*.d
*.elf
*.o



deadbeef.c
deadbeef.h

addshader.c
addshader.h


mandelbrotshader.c
mandelbrotshader.h

indexshader.c
indexshader.h

!staff*.bin
!staff*.o
!staffaddshader.h

staff/
2-mandelbrot copy/




